############### Begin Standard Header - Do not add comments here ###############
# Licensed Materials - Property of IBM
# 
# 5724-U18
#
# (C) Copyright IBM Corp. 2014  All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication, or
# disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
############################# End Standard Header ##############################

# Disabled Notifications
MW.PerfGuide.Notifications.enabled=false
#Configuration properties
WAS.Cluster.ServerProfileName.1=ctgAppSrv01
WCT.InstallLocation=No
Maximo.InstallLocation=/opt/ibm/SMP/maximo
WAS.Cluster.MIFFunction.1=true
WAS.Version=
CUI.AS.ConfigDone=false
mxe.mt.enabled=0
WAS.Cluster.RepFunction.1=true
CCMDB.InstallLocation=/opt/ibm/SMP
WAS.AdminPassword=Tivoli01
WAS.Cluster.NodeName.1=ctgNode01
WAS.DeploymentManagerProfileName=ctgDmgr01
WAS.LDAPAutomatedConfig=false
CUI.BypassWASValidation=false
WAS.SOAPConnectorPort=8879
IHS.AutomateConfig=false
WAS.ND.AutomateConfig=true
WAS.Cluster.Name.1=ctgClus01
WAS.CellName=ctgCell01
CUI.DB.ConfigDone=false
IHS.InstallLocation=No
WAS.Cluster.HTTPNode.1=false
WAS.Cluster.CronFunction.1=true
WAS.Cluster.UIFunction.1=true
WAS.InstallLocation=/opt/ibm/WebSphere/AppServer
WAS.DeploymentManagerNodeName=ctgCellManager01
WAS.AdminUserName=wasadmin
IHS.HTTPPort=
WAS.DeploymentManagerRemoteConfig=false
PLG.InstallLocation=No
WAS.ClusterAutomatedConfig=true
MW.Operation=Configure
