configType=remote
defLocPathname=/opt/ibm/WebSphere/Plugins
enableAdminServerSupport=true
enableUserAndPass=true
enableWinService=false
ihsAdminCreateUserAndGroup=true
ihsAdminPassword=Tivoli01
ihsAdminPort=8008
ihsAdminUnixUserGroup=root
ihsAdminUnixUserID=ihsadmin
ihsAdminUserID=ihsadmin
mapWebServerToApplications=true
profilePath=/opt/ibm/WebSphere/Plugins/profiles/
wasMachineHostName={{ __was_server_hostname }}
webServerConfigFile1=/opt/ibm/HTTPServer/conf/httpd.conf
webServerDefinition=webserver1
webServerHostName={{ __ihs_server_hostname }}
webServerInstallArch=64
webServerPortNumber=80
webServerSelected=ihs
webServerType=IHS