configType=remote
defLocPathname=/opt/IBM/WebSphere/Plugins
enableAdminServerSupport=true
enableUserAndPass=true
enableWinService=false
ihsAdminCreateUserAndGroup=true
ihsAdminPassword=Tivoli01
ihsAdminPort=8008
ihsAdminUnixUserGroup=root
ihsAdminUnixUserID=ihsadmin
ihsAdminUserID=ihsadmin
mapWebServerToApplications=true
profilePath=/opt/IBM/WebSphere/Plugins/profiles/
wasMachineHostName=app01.gbm.lab
webServerConfigFile1=/opt/ibm/HTTPServer/conf/httpd.conf
webServerDefinition=webserver1
webServerHostName=http.gbm.lab
webServerInstallArch=64
webServerPortNumber=80
webServerSelected=ihs
webServerType=IHS